<% provide(:title, "co-ba ikebukuro") %>

<div class="container">
  <div class="center jumbotron jumbotron-extend-1">
    <h2>コワーキングスペース利用状況</h2>
    <p>
      更新日時：<%= Date.current.strftime("%Y/%m/%d %H:%M") %><br>
      稼働状況：<%= "７０％(ただの文字列)" %>
    </p>
    <div class="progress">
      <div class="progress-bar progress-bar-primary progress-bar-striped active prog" role="progressbar" style="width:20%">
        20%
      </div>
      <div class="progress-bar progress-bar-info progress-bar-striped active prog" role="progressbar" style="width:20%">
        40%
      </div>
      <div class="progress-bar progress-bar-success progress-bar-striped active prog" role="progressbar" style="width:20%">
        60%
      </div>
      <div class="progress-bar progress-bar-warning progress-bar-striped active prog" role="progressbar" style="width:20%">
        80%
      </div>
      <div class="progress-bar progress-bar-danger progress-bar-striped active prog" role="progressbar" style="width:20%">
        100%
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="center jumbotron jumbotron-extend-2">
    <h2>ミーティングスペース予約 ログイン</h2>
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    
          <%= f.label :メールアドレス, class: "label-login" %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :パスワード, class: "label-login" %>
          <%= f.password_field :password, class: 'form-control' %>
          
          <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
            <%= f.check_box :remember_me, id: "remember-me" %>
            <span>ログイン情報を記憶する</span>
          <% end %>
          <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
        <% end %>
      </div>
    </div>
  </div>
</div>