<% provide(:title, "Top") %>

<div class="container">
  <div class="center jumbotron jumbotron-extend-1">
    <h2>コワーキングスペース利用状況</h2>
    <p>
      更新日時：<%= Date.today %><br>
      利用率：<%= "７０％(ただの文字列)" %>
    </p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
        70%
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="center jumbotron jumbotron-extend-2">
    <h2>ミーティングスペース予約 ログイン</h2>
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
        
          <%= f.label :メールアドレス, class: "label-login" %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :パスワード, class: "label-login" %>
          <%= f.password_field :password, class: 'form-control' %>
          
          <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
            <%= f.check_box :remember_me, id: "remember-me" %>
            <span>ログイン情報を記憶する</span>
          <% end %>
          <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
        <% end %>
        <p>
          ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %>
        </p>
      </div>
    </div>
  </div>
</div>
