<% provide(:title, "co-ba ikebukuro") %>

<div class="container">
  <div class="text-center my-5 pb-5">
    <p class="mb-0 pt-5">混雑状況</p>
    <h2 class="d-inline-block border-bottom border-dark mb-5">CONGESTION</h2>
    <%= render 'tops/operation' %>
    <div class="row mt-5">
      <p class="operation col text-right lead"><%= @operation.seat %> 席利用中/ <%= @operation.all_seat %>席中</p>
      <p class="operation col text-left lead"><i class="far fa-clock"></i><%= l(@operation.updated_at, format: :long) %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="center jumbotron jumbotron-extend-2">
    <h2>ミーティングスペース予約 ログイン</h2>
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    
          <%= f.label :メールアドレス, class: "label-login" %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :パスワード, class: "label-login" %>
          <%= f.password_field :password, class: 'form-control' %>
          
          <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
            <%= f.check_box :remember_me, id: "remember-me" %>
            <span>ログイン情報を記憶する</span>
          <% end %>
          <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
        <% end %>
        <p>
          ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %>
        </p>
      </div>
    </div>
  </div>
</div>