<% provide(:class_text, 'edit-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">ユーザー情報編集</h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><!-- /.modal-header  -->
    <%= form_with(model: @user, url: update_info_user_path(@user), local: true, method: :patch) do |f| %>
      <div class="modal-body">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
      
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
      
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
      
          <%= f.label :password_confirmation %>           
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div><!-- /.col-md-6 -->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <div class="button">
          <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            キャンセル
          </button>
        </div><!-- /.button -->
      </div><!-- /.modal-footer -->
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->