<% provide(:title, 'ユーザー一覧') %>
<div class="container text-center">
  <h2 class="d-inline-block border-bottom border-dark my-5">USERS</h2>
  <p class="mb-5">登録されているユーザーの検索・確認・更新・削除ができます。</p>

<!-- 検索機能 -->
  <div>
    <%= form_tag(users_path, method: :get, class: "form-inline") do %>
      <div class="input-group mx-auto mb-5 w-50">
        <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control", 'aria-describedby': "button-addon" %>
        <span class="input-group-append">
          <%= submit_tag '検索', name: :nil, class: "btn btn-primary", id: "button-addon" %>
        </span>
      </div>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped text-nowrap" id="table-users">
      <thead class="thead-color lead">
        <tr>
          <th class="center">Name</th>
          <th class="center">Email</th>
          <th class="center">Log</th>
          <th class="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="center"><%= user.name %></td>
            <td class="center"><%= user.email %></td>
            <td class="center">
            <% if user.reservations.present? %>
              <!-- アコーディオンスイッチ-->
              <button type="button" class="btn btn-outline-success collapsed px-4" 
                data-toggle="collapse" data-target="#meeting<%= user.id %>" aria-expanded="false">
                表示
              </button>
            <% end %>
            <!-- アコーディオン本体-->
            <div id="meeting<%= user.id %>" class="collapse" aria-expanded="false">
              <iv class="panel panel-default">
                <div class="panel-body ">
                  <table class="table table-bordered table-condensed table-hover">
                    <thead>
                      <tr>
                        <th class="center"><%= "開始時間" %> / <%= "終了時間" %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="center">
                          <!-- 予約繰り返し処理 -->
                          <% user.reservations.each do |reservation| %>
                            <!-- MS予約情報モーダル -->
                            <li>
                              <%= link_to "#{l(reservation.started_at, format: :short)}
                                  ~#{l(reservation.finished_at, format: :short)}",
                                  edit_user_reservation_path(user, reservation),
                                  remote: true %>
                            </li>
                          <% end %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
          <!-- ユーザー情報モーダル -->
          <td class="center">
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to(edit_info_user_path(user), remote: true, class: "btn btn-outline-primary d-block d-md-inline-block rounded-circle px-2 py-1 mx-2") do %>
                <i class="fas fa-pen"></i>
              <% end %>
              <%= link_to(user, class: "btn btn-outline-danger d-block d-md-inline-block rounded-circle px-2 py-1 mx-2", method: :delete, data: { confirm: "削除してよろしいですか？" }) do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
  <div class="center"><%= will_paginate %></div>
</div>
</div>

<!-- ユーザー情報モーダル表示 -->
<div id="edit-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!-- MS予約情報モーダル表示 -->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
