<% provide(:class_text, 'edit') %>
<% provide(:button_text, '予約更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">MS予約情報編集</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @reservation, url: user_reservation_path(@user, @reservation), local: true, method: :patch) do |f| %>

            <%= f.label "お名前" %>
            <p><%= @user.name %>様</p>

            <div>
              <%= f.label "開始時間" %>
              <%= raw sprintf(f.datetime_select(
                                        :started_at, 
                                        minute_step: 30,
                                        use_month_numbers: true,
                                        date_separator: '%s', 
                                        time_separator: "%s",
                                        datetime_separator: '%s'), '年', '月', '日',"時","分")
               %>
            </div>
             
            <div>
               <%= f.label "終了時間" %>
               <%= raw sprintf(f.datetime_select(
                                              :finished_at,
                                              minute_step: 30,
                                              use_month_numbers: true,
                                              date_separator: '%s', 
                                              time_separator: "%s",
                                              datetime_separator: '%s'), '年', '月', '日',"時","分")
               %>
            </div>
             
            <div class="button">
              <%= f.submit yield(:button_text), class: "btn btn-primary" %>
              <%= link_to "削除", user_reservation_path(@user, @reservation), method: :delete,
                data: { confirm: "#{@user.name}様の予約情報を削除してよろしいですか？" }, class: "btn btn-danger" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
