<% provide(:class_text, 'edit-info') %>
<% provide(:button_text, '予約') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">予約登録</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @reservation, url: user_reservations_path(@user), local: true, method: :post) do |f| %>

            <%= f.label "お名前" %>
            <%= f.text_field :telmail_name, class: 'form-control', value: @user.name, readonly: true %>
            <%= f.hidden_field :user_id, :value => @user.id %>
  
            <%= f.label "予約日" %>
            <%= f.date_field :meeting_on, class: 'form-control', value: @week_day,required: true %>
            <div>
              <%= f.label "開始時間" %>
              <%= raw sprintf(f.datetime_select(
                                        :started_at, 
                                        default: Time.zone.local(@week_day.to_date.year,@week_day.to_date.month,@week_day.to_date.day,
                                                                @selected_started_at.to_time.hour,@selected_started_at.to_time.min),
                                        minute_step: 30,
                                        use_month_numbers: true, 
                                        date_separator: '%s', 
                                        time_separator: "%s",
                                        datetime_separator: '%s'), '年', '月', '日',"時","分")
         
               %>
             </div>
             <div>
               <%= f.label "終了時間" %>
               <%= raw sprintf(f.datetime_select(
                                              :finished_at, 
                                              default: Time.zone.local(@week_day.to_date.year,@week_day.to_date.month,@week_day.to_date.day,
                                                                      @selected_started_at.to_time.hour,@selected_started_at.to_time.min)+30.minutes,
                                              minute_step: 30,
                                              use_month_numbers: true, 
                                              date_separator: '%s', 
                                              time_separator: "%s",
                                              datetime_separator: '%s'), '年', '月', '日',"時","分")
         
               %>
             </div>
　     　　<!--<div>-->
        <!--    <%= f.select :started_at, @times24, selected: @selected_started_at %>-->
        <!--    ~-->
        <!--    <%= f.select :finished_at, @times24, selected: @selected_started_at %>-->
        <!--   </div>-->
            <div class="button">
              <%= f.submit yield(:button_text), class: "btn btn-primary" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>