<% provide(:class_text, 'edit-info') %>

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title mx-auto">予約削除確認画面</h2>
    </div><!-- /.modal-header  -->
    <%= form_with(model: @reservation, url: user_reservations_path(@user), local: true, method: :post) do |f| %>
      <div class="modal-body">
        <div class="form-group row">
          <%= f.label "Name", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
          <%= f.text_field :telmail_name, class: 'form-control col-sm-6', value: @reservation.telmail_name ,disabled: true %>
        </div>
        <div class="form-group row">
          <%= f.label "StartTime", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
          <%= raw sprintf(f.datetime_select(
                                        :started_at, 
                                        minute_step: 30,
                                        use_month_numbers: true,
                                        disabled: true,
                                        date_separator: '%s', 
                                        time_separator: "%s",
                                        datetime_separator: '%s'), '年', '月', '日',"時","分")
          %>
        </div>
        <div class="form-group row">
          <%= f.label "EndTime", class: "llabel-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
          <%= raw sprintf(f.datetime_select(
                                              :finished_at,
                                              minute_step: 30,
                                              use_month_numbers: true,
                                              disabled: true,
                                              date_separator: '%s', 
                                              time_separator: "%s",
                                              datetime_separator: '%s'), '年', '月', '日',"時","分")
          %>
        </div>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <span class="mx-auto">
          <button type="button" class="btn btn-secondary mx-3" data-dismiss="modal">
            キャンセル
          </button>
          <%= link_to "削除", user_reservation_path(@user, @reservation), method: :delete,
                data: { confirm: "#{@user.name}様の予約情報を削除してよろしいですか？" }, class: "btn btn-danger px-4 mx-3" %>
        </span>
      </div><!-- /.modal-footer -->
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->