<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "co-ba ikebukuro", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "TOP", root_path, class: "nav-right" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "USERS", users_path, class: "nav-right" %></li>
            <li><%= link_to "MEETING SPACE", user_path(current_user), class: "nav-right" %></li>
            <li><%= link_to "SEAT UPDATE", operations_edit_path, class: "nav-right" %></li>
          <% end %>
          <li><%= link_to "LOGOUT", logout_path, method: :delete, class: "nav-right" %></li>
          </li>
        <% else %>
          <li><%= link_to "LOGIN", login_path, class: "nav-right" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
