<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "co-ba ikebukuro", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップページ", root_path, class: "nav-right" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "ユーザー情報一覧", users_path %></li>
            <li><%= link_to "MS予約画面", user_path(current_user) %></li>
            <li><%= link_to "利用状況編集", operations_edit_path %></li>
          <% end %>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path, class: "nav-right" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
