<% provide(:title, '利用状況更新') %>

<head>
  <% if @operation.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @operation.errors.full_messages.each do |message| %>
        <ul><%= "席数を0~30で入力して下さい。" %></ul>
      <% end %>
      
    </ul>
  </div>
<% end %>
  <h1>コワーキング利用状況更新画面</h1>
</head>
  
<body>
  <div class="center">
    <h3>【<%= Date.today %>】</h3>
    <h3>利用席数を入力してください。</h3>
    <h3>
      <%= form_with(model: @operation,url: operations_update_path(@operation),local: true, method: :patch) do |f| %>

      <%= f.label :利用席数 %>
      <%= f.number_field :seat, value: @operation.seat %>/<%= @operation.all_seat %>席
      <input type="reset" value="リセット">
      <p><%= f.submit "更新", class: "btn btn-primary" %>
      <%= link_to 'キャンセル', user_path(current_user) ,class:"btn btn-primary"%>
      </p>
    <% end %>
  </div>
</body> 