<% provide(:title, '利用状況更新') %>

<head>
  <h1>コワーキング利用状況更新画面</h1>
</head>
  
<body>
  <div class="center">
    <h3>【<%= Date.today %>】</h3>
    <h3>利用席数を入力してください。</h3>
    <h3>
      <%= form_with(model: @operations,url: operations_update_path(@operation),local: true, method: :patch) do |f| %>

      <%= f.label :利用席数 %>
      <%= f.number_field :seat, value: @operation.seat %>/30席

      <%= f.submit "送信", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</body> 