<% provide(:title, '利用状況更新') %>

<head>
  <% if @operation.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @operation.errors.full_messages.each do |message| %>
        <div class="form-error"><%= message %></div>
      <% end %>
    </ul>
  </div>
<% end %>
  <h1><u>SEAT UPDATE</u></h1>
</head>
  
<body>
  <div class="center">
    
    <h3>席の利用状況を編集することができます。</h3>
    <h3>【<%= Date.current %>(<%= %w(日 月 火 水 木 金 土)[Date.today.wday]%>)】</h3>
    
    <h2><%= form_with(model: @operation,url: operations_update_path(@operation),local: true, method: :patch) do |f| %>
      
      <div class= "row" style="display:inline-flex">
      <%= f.label :利用席数 %>
      <%= f.number_field :seat, value: @operation.seat,class:"form-main",onkeydown:"return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187 && event.keyCode !== 190" %>
      ／
      <%= f.number_field :all_seat, value: @operation.all_seat,class:"form-main",onkeydown:"return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187 && event.keyCode !== 190"%>席
      </div>
      
      <div>
       <div><%= f.submit "更新", class: "btn btn-primary col-3" %></div>
       <div><%= link_to 'キャンセル', user_path(current_user) ,class:"btn btn-primary col-3"%></div>
       <div><input type="reset" value="リセット" class="btn btn-primary col-3"></div>
      </div>
      
     <% end %>
    </h2>
    
  </div><!--class="container"-->
</body> 